.content {
    text-align: center;
    margin-block:  2rem;
    position: relative;
}

.background {
    --_background-color: inherit;
    max-height: 30rem;
    background: var(--_background-color);
    height: 100%;
    display: block;
    min-height: 22rem;
}

.background  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}



