.section {
    --_max-width-card: 20rem;
    padding: calc(var(--space-content) * 2)  var(--space-content) ;
    grid-template-columns: repeat( auto-fill , minmax( min(100% , var( --_max-width-card)) , 1fr));
    display: grid;
    gap: 1.5rem;
    max-width: 1200px;
    margin-inline: auto;
}