@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


:root {
 --neutral-000: 40, 9%, 94%;
 --neutral-900: 231, 54%, 7%;
 --neutral-500: 230, 54%, 22%;
 --primary-200: 15, 65%, 82%;
 --primary-300: 14, 100%, 70%;
 --primary-500: 14, 100%, 55%;
}


:root {
  --ff-base: 'Space Mono', monospace;
  --fs-base: 18px;
  --fw-base: 400;
  --fw-bold: 700;
}

:root {
  --space-content: 1.2rem;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img , svg {
  display: block;
  max-width: 100%;
}

body {
  background: hsl(var(--neutral-000));
  font-size: var(--fs-base);
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
  color: hsl(var(--neutral-500));
}

html {
  scroll-behavior: smooth;
}


.icon-button {
  background: transparent;
  border: none;
  outline: transparent;
  padding: .25rem .75rem;
  cursor: pointer;
  display: inline-flex;
    justify-content: center;
}

.unstyle-link {
  text-decoration: none;
  color: inherit;
}

.unstyle-link:is(:hover, :focus-visible) {
  color: inherit;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}


.title {
  font-weight: var(--fw-bold);
  font-size: 2.188rem;
  letter-spacing: .25rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 300;
  font-size: 1.2rem;
}


.c-primary-200 { 
  color: hsl(var(--primary-200));
}

.c-neutral-500 { 
  color: hsl(var(--primary-200));
}
